* {
  font-family: "LXGW Wenkai";
  font-weight: 400;
}

html, input, select {
    background-color: white;
    color: black;
}

html.dark-mode, .dark-mode input, .dark-mode select {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

.dark-mode a {
    color: white;
}

/* fonts */
@font-face {
    font-family: "LXGW Wenkai";
    src: url("/fonts/LXGWWenKaiMonoGB-Light.ttf");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "LXGW Wenkai";
    src: url("/fonts/LXGWWenKaiMonoGB-Medium.ttf");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "LXGW Wenkai";
    src: url("/fonts/LXGWWenKaiMonoGB-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

/* View Transition API */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark-mode::view-transition-old(root) {
  z-index: 9999;
}
.dark-mode::view-transition-new(root) {
  z-index: 1;
}